.MainMenu {
  display: flex;
  width: 100%;
  justify-content: start;
  list-style: none;
  padding: 1rem;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.MainMenu li {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.MainMenu li a {
  text-decoration: none;
}
