.searchBar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchBar form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.searchBar input {
  flex: 1;
  padding: 0.5rem;
}

.searchBar button {
  padding: 0.5rem;
}

.searchBar ul {
  list-style: none;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid black;
  border-top: none;
  z-index: 1;
}
